In [8]:
 s = "this is My First Python programming class and i am learNING python string and its function"

In [14]:
# 1 . Try to extract data from index one to index 300 with a jump of 3
s[0:300:3]

'tssyityopgmncsa alrNph rgni ni'

In [16]:
# 2. Try to reverse a string without using reverse function
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [17]:
# 2. Try to reverse a string without using reverse function
s[-1::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [21]:
# 3. Try to split a string after conversion of entire string in uppercase
s1=s.upper()
s1.split(" ")

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [23]:
# 4. try to convert the whole string into lower case
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [25]:
# 5 . Try to capitalize the whole string
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

# 6 . Write a diference between isalnum() and isalpha()
The isalpha() method returns True if all the characters are alphabet letters (a-z)
The isalnum() method returns True if all characters in the string are alphanumeric (either alphabets or numbers).
note: space is not alphabet letter or not a number

s.isalnum() return false -> as it has alphabet character but including space.
s.isalpha() return false -> as it has alphabet character but including space.

In [36]:
# 7. Try to give an example of expand tab
s3= "hello\tHow\tare\tyou"
s3.expandtabs(3)

'hello How   are   you'

In [40]:
# 8 . Give an example of strip , lstrip and rstrip
s4 = "     Shruti    "
s4.strip()
s4.lstrip()
s4.rstrip()

'     Shruti'

In [41]:
# 9. Replace a string charecter by another charector by taking your own example
s5="Hello Shruti"
s5.replace("Shruti","Divyani")

'Hello Divyani'