In [2]:
 l =[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh" , 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [7]:
# q.3) Try to extract all the list entity.
l_newlist=[]
for i in l:
    if type(i)==list:
        l_newlist.append(i)
print(l_newlist)

[[1, 2, 3, 4], ['ineuron', 'data science']]

In [9]:
# q.4) Try to extract all the dict entity.
l_newdict=[]
for i in l:
    if type(i)==dict:
        l_newdict.append(i)
print(l_newdict)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [12]:
# q.5) Try to extract all the Tuples entity.
l_newtupple=[]
for i in l:
    if type(i)==tuple:
        l_newtupple.append(i)
print(l_newtupple)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

In [15]:
# q.6) Try to extract all the Numeric data it may be a part of dict key and values.
numeric_data=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for var in i:
            if type(var)==int:
                numeric_data.append(var)
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==int:
                numeric_data.append(k)
            if type(v)==int:
                numeric_data.append(v)
    elif type(i)==int:
        numeric_data.append(i)

print(l)
print(numeric_data)

[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science']]
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [18]:
# q.7) Try to give summation of all the numeric data.
sum_data=0
for i in numeric_data:
    sum_data=sum_data+i
print(sum_data)

156

In [25]:
# q.8) Try to filter out all the odd values out all numeric datawhich is a part of a list.
odd_data=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2 !=0:
                    odd_data.append(j)

print(odd_data)

[1, 3]

In [29]:
# q.9) Try to extract "ineuron" out of this dataset.
str_data=[]
for i in l:
    if type(i)==list or type(i)==tuple:
        for var in i:
            if type(var)==str:
                if var=="ineuron":
                    str_data.append(var)
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                if k=="inueron":
                    str_data.append(k)
                if type(v)==str:
                    if v=="ineuron":
                        str_data.append(v)
    elif type(i)==str:
        if i=="ineuron":
            str_data.append('i')

print(str_data)

['ineuron', 'ineuron']

In [36]:
# q.10) Try to find out a number of occurance of all the data.
oct_data=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for var in i:
            oct_data.append(var)
    if type(i)==dict:
        for k,v in i.items():
            oct_data.append(k)
            oct_data.append(v)
    if type(i)==int or type(i)==str:
        oct_data.append(i)
print(oct_data)

for m in set(oct_data):
    print(m,oct_data.count(m))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
1 1
2 2
3 4
4 4
5 3
6 3
7 2
kumar 1
8 1
45 1
k1 1
k3 1
ineuron 2
data science 1
k2 1
23 1
sudh 1

In [38]:
# q.11) Try to find out a number of keys in dict element.
no_keys=[]
for i in l:
    if type(i)==dict:
        for k in i.keys():
            no_keys.append(k)
print(len(no_keys))

5

In [43]:
# q.12) Try to filter out all the string data.

str_data=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for var in i:
            if type(var)==str:
                str_data.append(var)
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                str_data.append(k)
            if type(v)==str:
                str_data.append(v)
    elif type(i)==str:
        str_data.append(i)

print(str_data)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [45]:
# q.14) Try to find out multiplication of all numeric value in the individual collection inside dataset.
mul_data=1
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for var in i:
            if type(var)==int:
                mul_data=mul_data*var
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==int:
                mul_data=mul_data*k
            if type(v)==int:
                mul_data=mul_data*v
    elif type(i)==int:
        mul_data=mul_data*i

print(mul_data)

908605071360000

In [53]:
#q.15) Try to unwrape all the collection inside collection and create a flat list.
flatlist_data=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for var in i:
            if type(var)==str:
                flatlist_data.extend(var)
            if type(var)==int:
                flatlist_data.append(var)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                flatlist_data.extend(k)
            if type(k)==int:
                flatlist_data.append(k)
                
            if type(v)==int:
                flatlist_data.append(v)
            if type(k)==str:
                flatlist_data.extend(k)
            
                
    if type(i)==int:
        flatlist_data.append(i)
    if type(i)==str:
        flatlist_data.extend(i)
print(flatlist_data)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k', '1', 'k', '2', 'k', '3', 6, 8, 'i', 'n', 'e', 'u', 'r', 'o', 'n', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']