In [2]:
l = [3,4,5,6,7, [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [30]:
#1 . Try to reverse a list
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 234,
 7,
 6,
 5,
 4,
 3]

In [39]:
#2. try to access 234 out of this list
l_new=()
for i in l:
    if type(i)== tuple or type(i)==list or type(i)==set:
        for j in i:
            if j == 234:
                print(j)
    elif type(i)==int:
        if i == 234:
            print(i)

234
234

In [4]:
l[7][0]

234

In [40]:
#3 . try to access 456
for i in l:
    if type(i)== tuple or type(i)==list or type(i)==set:
        for j in i:
            if j == 456:
                print(j)
    elif type(i)==int:
        if i == 456:
            print(i)

456

In [3]:
l[5][1]

456

In [54]:
#4 . Try to extract only a list collection form list l
l[5]

[23, 456, 67, 8, 78, 78]

In [56]:
l[6]

[345, 56, 87, 8, 98, 9]

In [60]:
l[8][234]

[23, 45, 656]

In [62]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [71]:
new_l=[]
for i in l:
    if type(i)==list:
        new_l.append(i)
    
print(new_l)

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [76]:
#5 . Try to extract "sudh"
l[8]['key1']

'sudh'

In [79]:
#5 . Try to extract "sudh" using loop
for i in l:
    if type(i)==dict:
        for d in i.values():
            if d=="sudh":
                print(d)

sudh

In [84]:
#6 . Try to list all the key in dict element avaible in list
for i in l:
    if type(i)==dict:
        print(i.keys())

dict_keys(['key1', 234])

In [87]:
#7 . Try to extract all the value element form dict available in list
for i in l:
    if type(i)==dict:
        print(i.values())

dict_values(['sudh', [23, 45, 656]])

In [89]:
#7 . Try to extract all the value element form dict available in list
l[8]['key1']
l[8][234]

[23, 45, 656]